/* =========================
   Nord Waybar Theme
   ========================= */

* {
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 13px;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  background: #2e3440;
  color: #d8dee9;
}

#workspaces,
#window,
#clock,
#pulseaudio,
#network,
#battery,
#tray {
  padding: 0 10px;
  margin: 4px 4px;
  background: #3b4252; /* nord1 */
  border-radius: 10px;
}

#workspaces button {
  padding: 0 6px;
  color: #d8dee9;
}

#workspaces button.active {
  color: #bf616a
}

#workspaces button.urgent {
  color: #d08770;
}

#window {
  color: #e5e9f0;
}

#clock {
  color: #81a1c1;
  font-weight: bold;
}

#pulseaudio.muted {
  color: #bf616a;
}

#network.disconnected {
  color: #bf616a;
}

#battery.charged {
  color: #a3be8c;
}

#battery.warning {
  color: #ebcb8b;
}

#battery.critical {
  color: #bf616a;
}

#tray {
  padding-right: 12px;
}

